<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>cEdu</title>
    <script src="//cdn.webix.com/edge/webix.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../static/css/webix.css" type="text/css">
    <!-- <link rel="stylesheet" href="http://cdn.webix.com/edge/webix.css" type="text/css"> -->
    <script src="../static/webix_ui/header.js" type="text/javascript"></script>
    <script src="../static/webix_ui/form_popup.js" type="text/javascript"></script>
</head>

<body>
    <script>
        webix.ready(() => {
            webix.ui({
                view: "scrollview",
                scroll: "auto",
                body: {
                    align: "center", body: {
                        rows: [
                            {% if login %}
                            after_login_header,
                            {% else %}
                            before_login_header,
                            {% endif %}
                            {
                                view: "spacer",
                                height: 80
                            },
                            {
                                width: 1234, rows: [
                                    {
                                        template: "<h3>커뮤니티</h3>",
                                        autowidth: true,
                                        autoheight: true
                                    },
                                    {
                                        view: "dataview", id: "community_dataview",
                                        height: 300,
                                        type: {
                                            height: 200,
                                            width: 300
                                        },
                                        template: `
                                            <h3>#title#</h3>
                                            <div style="padding: 5px">
                                                #body#
                                            </div>
                                        `,
                                        select: true,
                                        url: "http://220.149.235.76:5000/models"
                                    },
                                    {
                                        view: "spacer", height: 50
                                    },
                                    {
                                        template: "<h3>프로젝트</h3>",
                                        autowidth: true,
                                        autoheight: true
                                    },
                                    {
                                        view: "dataview", id: "project_dataview",
                                        height: 300,
                                        type: {
                                            height: 200,
                                            width: 300
                                        },
                                        template: `
                                            <h3>#title#</h3>
                                            <div style="padding: 5px">
                                                #body#
                                            </div>
                                        `,
                                        select: true,
                                        url: "http://220.149.235.76:5000/models"
                                    }
                                ]
                            },
                            {
                                view: "spacer", height: 50
                            }
                        ]
                    }
                }
            });
        })
    </script>
</body>

</html>