{% extends 'temp/layout.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-3">
        <div class="card text-center">
            <a href="#" role="button" class="btn btn-outline-secondary btn-lg card-body">평가</a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-center">
            <a href="#" role="button" class="btn btn-outline-dark btn-lg card-body">판매자</a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-center">
            <a href="#" role="button" class="btn btn-outline-dark btn-lg card-body">구매자</a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-center">
            <a href="#" role="button" class="btn btn-outline-dark btn-lg card-body">경매자</a>
        </div>
    </div>
</div>
{% endblock %}