{% extends 'temp/layout.html' %}
{% block content %}
<form action="/temp/write" method="POST">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="title">제목</label>
            <input type="text" name="title" class="form-control" id="title" placeholder="제목">
        </div>
        <div class="form-group col-md-6">
            <label for="category">카테고리</label>
            <select name="category" class="form-control" id="category">
                <option value="community">커뮤니티</option>
                <option value="project">프로젝트</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="description">내용</label>
        <textarea name="description" class="form-control" id="description" rows="8"></textarea>
    </div>
    <div class="form-group custom-file">
        <label class="custom-file-label" for="customFile">첨부 파일...</label>
        <input type="file" class="custom-file-input" id="customFile">
    </div>
    <br><br>
    <button type="button" class="btn btn-outline-secondary" onclick="history.go(-1)">취소</button>
    <button type="submit" class="btn btn-outline-secondary">완료</button>
</form>
{% endblock %}