.auction div {
    padding: 7px 0;
}
.auction .price-blue {
    background-color: rgba(188, 219, 255, 0.459);
}

.auction .price-red {
    background-color: rgba(245, 163, 153, 0.459);
}

.list-sub li {
    margin: 0.5rem 0;
    font-size: 0.9rem;
}