{% extends 'layout.html' %}
{% block content %}
<div style="border:1px solid rgba(0,0,0,.125); border-radius: 0.25rem; padding: 1rem; margin: 1rem 0;">
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">커뮤니티</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
        </form>
    </nav>
    <br>
    {% for index, community in communities.items() %}
    {% if index % 2 == 1 %}
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <img class="card-img-top" src="../../static/img/default.png" alt="image" height=64>
                <div class="card-body">
                    <h5 class="card-title">{{community.title}}</h5>
                    <p class="card-text">{{ community.description }}</p>
                </div>
            </div>
        </div>
        {% if index == communities | length %}
    </div>
    {% endif %}
    {% else %}
    <div class="col-sm-6">
        <div class="card">
            <img class="card-img-top" src="../../static/img/default.png" alt="image" height=64>
            <div class="card-body">
                <h5 class="card-title">{{community.title}}</h5>
                <p class="card-text">{{ community.description }}</p>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
<br>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center" style="margin:0;">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>
<button type="button" class="btn btn-secondary" onclick="location.href='/write'">작성</button>
</div>

<div style="border:1px solid rgba(0,0,0,.125); border-radius: 0.25rem; padding: 1rem; margin: 1rem 0;">
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">프로젝트</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
        </form>
    </nav>
    <br>
    {% for index, project in projects.items() %}
    {% if index % 2 == 1 %}
    <div class="row">
        <div class="col-sm-6">
            <div class="media" style="margin:0.5rem;">
                <img class="mr-3" src="../../static/img/default.png" alt="image" width=64 height=64>
                <div class="media-body">
                    <a href="/project/{{project.slug}}">
                        <h5 class="mt-0">{{ index }} {{ project.title }}</h5>
                    </a>
                    {{ project.description }}
                </div>
            </div>
        </div>
        {% if index == projects | length %}
    </div>
    {% endif %}
    {% else %}
    <div class="col-sm-6">
        <div class="media" style="margin:0.5rem;">
            <img class="mr-3" src="../../static/img/default.png" alt="image" width=64 height=64>
            <div class="media-body">
                <a href="/project/{{project.slug}}">
                    <h5 class="mt-0">{{ index }} {{ project.title }}</h5>
                </a>
                {{ project.description }}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
<br>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center" style="margin:0;">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>
<button type="button" class="btn btn-secondary" onclick="location.href='/write'">작성</button>
</div>
{% endblock %}