<!doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <title>cEdu</title>
</head>

<body>
    <div class="container">

        <div class="media">
            <a href="/"><img class="mr-3" src="../../static/cEdu_logo.png" alt="cEdu image" width="150"
                    style="margin-top: 1rem"></a>
            <div class="media-body">

                <div class="d-flex justify-content-end">
                    {% if login %}
                    <button type="button" id="logout_btn" class="btn btn-primary" style="margin: 1rem 0">
                        로그아웃
                    </button>
                    <script>
                        $(document).ready(function () {
                            $("#logout_btn").click(function () {
                                $.ajax({
                                    type: "DELETE",
                                    url: "/loginout",
                                    success: function () { location.reload(); },
                                    error: function (req, status, error) {
                                        alert(error);
                                    }
                                })
                            })
                        })
                    </script>
                    {% else %}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong"
                        style="margin: 1rem 0">
                        로그인
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">로그인</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form action="/loginout" method="POST">
                                    <div class="modal-body">
                                        <div class="form-group row">
                                            <label for="staticEmail" class="col-sm-3 col-form-label">이메일</label>
                                            <div class="col-sm-9">
                                                <input name="email" required type="text" requried class="form-control"
                                                    id="staticEmail" placeholder="email@example.com">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputPassword" class="col-sm-3 col-form-label">비밀번호</label>
                                            <div class="col-sm-9">
                                                <input name="password" required type="password" requried
                                                    class="form-control" id="inputPassword" placeholder="Password">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                        <button type="submit" class="btn btn-primary">완료</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter"
                        style="margin: 1rem; margin-right: 0;">
                        회원가입
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">회원가입</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form action="/users" method="POST">
                                    <div class="modal-body">
                                        <div class="form-group row">
                                            <label for="email" class="col-sm-3 col-form-label">이메일</label>
                                            <div class="col-sm-9">
                                                <input name="email" required type="text" requried class="form-control"
                                                    id="email" placeholder="email@example.com">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="password" class="col-sm-3 col-form-label">비밀번호</label>
                                            <div class="col-sm-9">
                                                <input name="password" required type="password" requried
                                                    class="form-control" id="password" placeholder="Password">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                        <button type="submit" class="btn btn-primary">완료</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <!-- menu -->
                <div class="navbar navbar-expand-md navbar-dark bg-dark mb-4" role="navigation">
                    <a class="navbar-brand" href="#">Bootstrap 4 NavBar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="http://fontenele.github.io/bootstrap-navbar-dropdowns/"
                                    target="_blank">Github</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">Disabled</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="dropdown1" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">Dropdown1</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdown1">
                                    <li class="dropdown-item" href="#"><a>Action 1</a></li>
                                    <li class="dropdown-item dropdown">
                                        <a class="dropdown-toggle" id="dropdown1-1" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">Dropdown1.1</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdown1-1">
                                            <li class="dropdown-item" href="#"><a>Action 1.1</a></li>
                                            <li class="dropdown-item dropdown">
                                                <a class="dropdown-toggle" id="dropdown1-1-1" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">Dropdown1.1.1</a>
                                                <ul class="dropdown-menu" aria-labelledby="dropdown1-1-1">
                                                    <li class="dropdown-item" href="#"><a>Action 1.1.1</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="dropdown2" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">Dropdown2</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdown2">
                                    <li class="dropdown-item" href="#"><a>Action 2 A</a></li>
                                    <li class="dropdown-item" href="#"><a>Action 2 B</a></li>
                                    <li class="dropdown-item" href="#"><a>Action 2 C</a></li>
                                    <li class="dropdown-item dropdown">
                                        <a class="dropdown-toggle" id="dropdown2-1" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">Dropdown2.1</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdown2-1">
                                            <li class="dropdown-item" href="#"><a>Action 2.1 A</a></li>
                                            <li class="dropdown-item" href="#"><a>Action 2.1 B</a></li>
                                            <li class="dropdown-item" href="#"><a>Action 2.1 C</a></li>
                                            <li class="dropdown-item dropdown">
                                                <a class="dropdown-toggle" id="dropdown2-1-1" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">Dropdown2.1.1</a>
                                                <ul class="dropdown-menu" aria-labelledby="dropdown2-1-1">
                                                    <li class="dropdown-item" href="#"><a>Action 2.1.1 A</a></li>
                                                    <li class="dropdown-item" href="#"><a>Action 2.1.1 B</a></li>
                                                    <li class="dropdown-item" href="#"><a>Action 2.1.1 C</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown-item dropdown">
                                                <a class="dropdown-toggle" id="dropdown2-1-2" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">Dropdown2.1.2</a>
                                                <ul class="dropdown-menu" aria-labelledby="dropdown2-1-2">
                                                    <li class="dropdown-item" href="#"><a>Action 2.1.2 A</a></li>
                                                    <li class="dropdown-item" href="#"><a>Action 2.1.2 B</a></li>
                                                    <li class="dropdown-item" href="#"><a>Action 2.1.2 C</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <form class="form-inline mt-2 mt-md-0">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </div>
                <script>
                    $(document).ready(function () {

                        $('.navbar .dropdown-item').on('click', function (e) {
                            var $el = $(this).children('.dropdown-toggle');
                            var $parent = $el.offsetParent(".dropdown-menu");
                            $(this).parent("li").toggleClass('open');

                            if (!$parent.parent().hasClass('navbar-nav')) {
                                if ($parent.hasClass('show')) {
                                    $parent.removeClass('show');
                                    $el.next().removeClass('show');
                                    $el.next().css({ "top": -999, "left": -999 });
                                } else {
                                    $parent.parent().find('.show').removeClass('show');
                                    $parent.addClass('show');
                                    $el.next().addClass('show');
                                    $el.next().css({ "top": $el[0].offsetTop, "left": $parent.outerWidth() - 4 });
                                }
                                e.preventDefault();
                                e.stopPropagation();
                            }
                        });

                        $('.navbar .dropdown').on('hidden.bs.dropdown', function () {
                            $(this).find('li.dropdown').removeClass('show open');
                            $(this).find('ul.dropdown-menu').removeClass('show open');
                        });

                    });

                </script>
                <!-- <div class="btn-group" style="margin: 0 0.5rem 0.5rem 0;">
                    <button class="btn btn-secondary" type="button" id="dropdownMenuButton"
                        aria-haspopup="true" aria-expanded="false" onclick="location.href='#'">
                        지식거래장터 소개
                    </button>
                </div>
                <div class="btn-group" style="margin: 0 0.5rem 0.5rem 0;">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        동료평가
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/evaluation">동료평가</a>
                        <a class="dropdown-item" href="#">지식자산 평가 신청</a>
                        <a class="dropdown-item" href="#">평가결과 공개</a>
                        <a class="dropdown-item" href="#">지식자산 선별</a>
                    </div>
                </div>
                <div class="btn-group" style="margin: 0 0.5rem 0.5rem 0;">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        옥션
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/auction">옥션</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                <div class="btn-group" style="margin: 0 0.5rem 0.5rem 0;">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        마켓
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                <div class="btn-group" style="margin: 0 0.5rem 0.5rem 0;">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ODI
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                <div class="btn-group" style="margin: 0 0.5rem 0.5rem 0;">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        아이디어 장터
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">아이디어 장터</a>
                        <a class="dropdown-item" href="#">아이디어 도전</a>
                        <a class="dropdown-item" href="/community">커뮤니티</a>
                    </div>
                </div>
                <div class="btn-group" style="margin: 0 0.5rem 0.5rem 0;">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        NFT 생성
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
        </div> -->

                <br><br>

                {% block content %}
                {% endblock %}

                <br>
            </div>
</body>

</html>