{% extends 'layout.html' %}
{% block content %}
<div class="card">
    <h5 class="card-header">{{ posting.category }}</h5>
    <div class="card-body">
        <h5 class="card-title">{{ posting.title }} </h5>
        <div class="text-muted mb-1">
            {{ posting.created }}
        </div>
        <p class="card-text">{{ posting.description }}</p>
        <hr>
        <div class="d-flex">
            <div class="mr-auto p-2">
                <button type="button" class="btn btn-info" onclick="location.href='/community'">커뮤니티로 이동</button>
            </div>
            <div class="p-2">
                <button id="update" class="btn btn-primary"
                    onclick="location.href='/edit/{{ posting._id }}'">수정</button>
            </div>
            <div class="p-2">
                <button id="delete" class="btn btn-danger">삭제</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#delete").click(function () {
            $.ajax({
                type: "DELETE",
                url: "/{{posting.category}}/{{posting._id}}",
                success: function () { location.href = "/community"; },
                error: function (req, status, error) {
                    alert(error);
                }
            })
        })
    })
</script>
<br>
<!--
    comments code from https://startbootstrap.com/template/blog-post
    https://scribblinganything.tistory.com/406
-->
<section class="mb-5">
    <div class="card bg-light">
        <div class="card-body">
            <!-- Comment form-->
            <form class="mb-4" action="/comment" method="POST">
                <div class="form-group">
                    <label for="comment">댓글</label>
                    <textarea name="comment" class="form-control" id="comment" rows="3"></textarea>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-secondary justify-content-center">완료</button>
                    <input type="hidden" name="writer" value={{ login }}>
                    <input type="hidden" name="posting_id" value={{ posting._id }}>
                    <input type="hidden" name="slug" value={{ posting.slug }}>
                    <input type="hidden" name="category" value={{ posting.category }}>
                </div>
            </form>

            <hr>

            <!-- Single comment-->
            {% if comments %}
            {% for comment in comments %}
            <div class="d-flex" style="margin: 1rem 0">
                <div class="flex-shrink-0" style="margin-right: 0.75rem">
                    <img class="rounded-circle" src="../static/img/default.png" alt="..." width=50>
                </div>
                <div class="ms-3">
                    <div class="fw-bold">{{ comment.writer }}</div>
                    {{ comment.comment }}
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}